/*
    colors
*/

$dark-blue-grey: #3D3A51;

/*
    font-sizes
*/
$font-title: 20px;
$font-uppercase-title: 16px;
$font-normal: 14px;
$font-subtext: 12px;

/*
    z-index 
*/

$always-on-top: 500;
$mostly-on-top: 400;
$between-elements: 300;
$like-a-popup: 200;
$normalized: 100;