search-results{
    float: right;
    width: 360px;
    height: 100%;
    background: $dark-blue-grey;
    position: absolute;
    bottom: -200px;
    right: 0;
    padding: 20px;
    height: 200px;
    color: #fff;
}