.search-box{
    float: right;
    width: 250px;
    
    input{
        @include placeholder(){
            color: rgba(black, 0.4);
        }
        @include focus('reset');
        @include input($font-normal); 
        @include border-radius(2px); 
    }
}